.outer{
    background: linear-gradient(120.53deg, #9CECFB -0.66%, #65C7F7 45.38%, #0052D4 99.42%);

    
}

.main{
    height: 100vh;
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.left{
    width: 55%;
    height: 50vh;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

}
.right{
    padding:10px;
    background: linear-gradient(188.72deg, #5648FC -11.29%, #FFFFFF 111.68%);
    width: 25%;
    height: 50vh;
    border-radius: 20px;
}


/* Tab css  */
.tab-container {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}