.forgot-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: white;
}

.forgot-form{
    border: 0.5px solid rgb(192, 191, 191);
    border-radius: 10px;
    padding: 0.5rem 2rem 1rem 2rem;
    height: 50vh;
    width: 18vw;
    position: relative;
    bottom: 10vh;
}

.forgot-form h2{
    color: rgb(32, 32, 32);
    font-size: 35px;
    font-weight: 400;
}

.forgot-description-p{
    border: 1px solid #e6db55;
    padding: 1rem;
    background-color: #ffffe0;
    color: gray;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.2rem;
}

.forgot-description-input{
    color: rgb(70, 69, 69);
    border: 0.5px solid rgb(192, 191, 191);
    border-radius: 5px;
    width: 16vw;
    font-size: 1.2rem;
    padding: 0.8rem;
    margin-top: 0.7rem;
}

.forgot-btn{
    background-color: #449d44;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    margin-top: 20px;
}

.forgot-btn:hover {
    background-color: #398439;
    cursor: pointer;
}