@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

.gradient-text {
  background-image: linear-gradient(to bottom right, #e94242, rgb(150, 185, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-text2 {
  background-image: linear-gradient(to bottom right, #2a20ec, rgb(50, 183, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-message-container {
  animation: moveLeftToRight 5s linear infinite;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-20%);
  }
}
